:root {
    color-scheme: light dark;
}

body {
    font-family: 'Segoe UI', sans-serif;
    hyphens: auto;
    overflow-wrap: break-word;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
}
main {
    max-width: 36em;
    margin: 0 auto;
}
@media (max-width: 600px) {
    body {
        font-size: 0.9em;
        padding: 12px;
    }
    h1 {
        font-size: 1.8em;
    }
}
p {
    margin: 1em 0;
}
img {
    max-width: 100%;
}
svg {
    height: auto;
    max-width: 100%;
}
code {
    font-family: Menlo, Monaco, Consolas, 'Lucida Console', monospace;
    font-size: 85%;
    margin: 0;
    hyphens: manual;
}
pre {
    margin: 1em 0;
    overflow: auto;
}
pre code {
    padding: 0;
    overflow: visible;
    overflow-wrap: normal;
}
hr {
    border: none;
    border-top: 1px solid #1a1a1a;
    height: 1px;
    margin: 1em 0;
}
